.box{
    height:200px;
    width:200px;
    border-radius: 50%;
    background:pink;
    margin:auto;
    position:relative;
    
}
box:hover{
    background-color: skyblue;
}
h1{
    text-align: center;
    padding: 200px 0px 0px 0px;
    

}
.eye1{
    height:40px;
    width:30px;
    border-radius:40%;
    background:white;
    position:absolute;
    top:60px;
    left:50px; 
}
.i1{
    height:20px;
    width:20px;
    border-radius:25%;
    background:black;
    top:100px;
    left:150px;
    
}

.eye2{
    height:40px;
    width:30px;
    border-radius:40%;
    background:white;
    position:absolute;
    top:60px;
    right:50px; 
}
.i2{
    height:20px;
    width:20px;
    border-radius:25%;
    background:black;
    top:120px;
    right:15px;
    
}
.mouth{
    height:50px;
    width:70px;
    border-radius:40%;
    background:black;
    position:absolute;
    bottom:60px; 
    right:65px;
}
.mouth1{
    height:30px;
    width:70px;
    border-radius:1px 10px 400% 400%;
    background:rgb(161, 11, 11);
    position:absolute;
    top:60px; 
    right:1px;

}

.ear1{
    height:60px;
    width:60px;
    border-radius:100%;
    background:pink;
    position:absolute;
    bottom:90px;
    right:90px;
}
.ear2{
    height:60px;
    width:60px;
    border-radius:100%;
    background:pink;
    position:absolute;
    bottom:90px;
    left:90px;
}
body{
    background-image: radial-gradient(rgb(90, 182, 90),rgb(210, 167, 88));
}
header{
    background-color: whitesmoke(0, 255, 255);
    border-radius: 50% 0 50% 0;
    width: 20%;
    margin-left: 40%;
    margin-top: 1%;
    padding: 0.5%;
    font-size: larger;
}